<div class="row">

    <div class="col-md-8">
        <%= image_tag @champion.champion_img.url(:champion_show), class:"champion-show" %>
    </div>
    <div class="col-md-4">
        <h1 class="title"><%= NoProfanity.check(@champion.name) %></h1>
        <h4><%= @champion.alias %></h4>
        <h5>Category: <%= @champion.category.name %></h5>
    </div>

</div>

<div class="row">
    <div class="col-md-4">

        <%= render @champion.reviews %>
        
        <div>
            <%= link_to "Add Review", new_champion_review_path(@champion) %>
        </div>
    </div>
</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

    <% if @champion.user_id == current_user.id %>

        <%= link_to "Edit", edit_champion_path(@champion) %>
        <%= link_to "Delete", champion_path(@champion), method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>

<% end %>